/* --------------------------------
   Font Faces – Modern Formats Only
-------------------------------- */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.woff') format('woff');
}

@font-face {
    font-family: 'RobotoFlex';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/RobotoFlex-Regular.woff2') format('woff2'),
        url('../fonts/RobotoFlex-Regular.woff') format('woff');
}

/* Roboto Mono: Regular */
@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('../fonts/RobotoMono-Regular.woff') format('woff');
}

/* Roboto Mono: Medium */
@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/RobotoMono-Medium.woff2') format('woff2'),
        url('../fonts/RobotoMono-Medium.woff') format('woff');
}

/* Roboto Mono: Bold */
@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/RobotoMono-Bold.woff2') format('woff2'),
        url('../fonts/RobotoMono-Bold.woff') format('woff');
}


:root {
    /* Цвета для светлой темы */
    --font-light: #0F0F0F;
    --background-light: #F9EFEC;

    /* Цвета для темной темы */
    --font-dark: #F9EFEC;
    --font-dark-text: #676665;
    --background-dark: #0F0F0F;
    --background-light-container: #1A1A1A;


    --bg-color: #1F1F1F;
    --color-orange: #CE7D63;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: -30px;
}

.heading-primary,
.heading-secondary {
    font-family: 'RobotoFlex';
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: normal;
    transition: color 0.5s;
}

.paragraph {
    transition: color 0.5s;
}

.container {
    border-radius: 16px;
    transition: background 0.5s;
}

.wrapper {
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: "RobotoFlex", sans-serif;
    transition: background-color 0.5s, color 0.5s;
    font-size: 14px;
    line-height: 150%;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px 16px;
}

body.light-theme {
    background-color: var(--background-light);
    color: var(--font-light);
}

body.dark-theme {
    background-color: var(--background-dark);
    color: var(--font-dark);
}

body.dark-theme .container {
    background: var(--background-light-container);
}

body.light-theme .container {
    background: grey;
}

body.dark-theme .paragraph {
    color: var(--font-dark-text);
}

body.light-theme .paragraph {
    color: #fff;
}

body.menu-open {
    overflow: hidden;
}

body.menu-open header {
    border-radius: 10px 10px 0 0;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    max-height: 0;
    transition: max-height 0.5s;
}

.menu-overlay.active {
    max-height: 100vh;
}

body.menu-open {
    overflow: hidden;
}














header.container {
    display: flex;
    position: relative;
    width: 100%;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    z-index: 10;
    transition: all 0.5s;
    transition-delay: 0.4s;
}

body.menu-open header {
    transition: all 0.1s;
}

.navbar {
    display: none;
}

.logo {
    width: 87px;
    height: 16px;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.logo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero__visual {
    display: none;
}

.hero__service {
    color: #676665;
    font-family: "RobotoMono", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    position: relative;
}

.hero__slide {
    max-width: max-content;
    padding: 0 20px;
}

.hero__service::before {
    content: "";
    background: url(../images/circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px 24px 16px 24px;
}

#hero-title {
    line-height: 165%;
}

.hero__button {
    display: flex;
    align-items: center;
    gap: 9px;
    color: var(--color-orange);
    font-family: "RobotoFlex", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 5px;
}

.hero__button span {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: var(--color-orange);
    position: relative;
}

.hero__button span::before {
    content: '';
    position: absolute;
    background: url(../images/Shape.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    width: 56px;
    height: 56px;
    transform: translate(-50%, -50%);
    animation: moveAround 10s linear infinite;
}

.hero__description {
    margin-bottom: 15px;
}

.hero__services-slider {
    border-radius: 8px;
    background: var(--background-dark);
    padding: 14px;
    position: relative;
    width: calc(100% + 10px);
    margin-left: -5px;
    overflow: hidden;
    height: 49px;
}



@keyframes moveAround {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.hero__stats {
    display: flex;
    padding: 8px 10px 5px 10px;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 16px;
    border: 2px solid var(--bg-color);
}

.hero__stats-item {
    width: calc(50% - 5px);
    display: flex;
    padding: 16px 14px 5px 14px;
    flex-direction: column;
    align-items: center;
    min-height: 91px;
    border-radius: 12px;
    background: var(--background-light-container);
}

.hero__stats-label {
    color: #B3B3B2;
    text-align: center;
    font-family: "RobotoMono";
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.hero__stats-value {
    color: var(--color-orange);
    text-align: center;
    font-family: "RobotoFlex";
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.hero__stats-item:nth-of-type(1) .hero__stats-value::after,
.hero__stats-item:nth-of-type(2) .hero__stats-value::after {
    content: "+";
    color: var(--color-orange);
    text-align: center;
    font-family: "RobotoFlex";
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.hero__stats-item:nth-of-type(3) .hero__stats-value::after {
    content: "%";
    color: var(--color-orange);
    text-align: center;
    font-family: "RobotoFlex";
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.hero__stats-item:nth-of-type(4) .hero__stats-value::after {
    content: "K";
    color: var(--color-orange);
    text-align: center;
    font-family: "RobotoFlex";
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.hero__stats-item:nth-of-type(5) .hero__stats-value::after {
    content: "+";
    color: var(--color-orange);
    text-align: center;
    font-family: "RobotoFlex";
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.hero__stats-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B3B3B2;
    font-family: "RobotoMono";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    text-decoration: none;
    gap: 6px;
}

.hero__stats-link span {
    display: flex;
    padding: 14px;
    width: 48px;
    height: 48px;
    align-items: center;
    border-radius: 100px;
    border: 1px solid#262626;
    background: var(--background-dark);
}

.hero__stats-link span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.why-choose-us {
    padding: 8px;
    border-radius: 16px;
    border: 2px solid var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#why-title {
    padding: 24px;
    border-radius: 14px;
}

.why-choose-us .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.why-choose-us .card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    min-width: 268px;
    flex: 1;
    text-decoration: none;
    color: inherit;
}

.why-choose-us .card__title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.why-choose-us .card__text {
    margin-bottom: 24px;
    color: #B3B3B2;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.why-choose-us .card:nth-of-type(2n) .card__text {
    -webkit-line-clamp: 3;
}

.why-choose-us .hero__stats-link {
    color: #B3B3B2;
    font-size: 16px;
    font-family: 'RobotoFlex';
    font-weight: 400;
    gap: 8px;
    text-transform: capitalize;
}

.why-choose-us .hero__stats-link span {
    width: 52px;
    height: 52px;
}

.services {
    padding: 10px;
    border-radius: 16px;
    border: 2px solid var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#services-title {
    padding: 24px;
    border-radius: 14px;
    font-family: "RobotoFlex";
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.services__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.services__grid .service {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 14px;
    min-width: 264px;
    flex: 1;
}

.service__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__cta {
    display: none;
}

.service__header--box {
    display: flex;
    align-items: center;
    gap: 14px;
    align-self: stretch;
    margin-bottom: 20px;
}

.service__header--icon {
    display: flex;
    width: 52px;
    height: 52px;
    padding: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #333;
    background: var(--bg-color);
}

.service__title {
    font-family: "RobotoFlex";
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.service__price {
    order: 1;
    font-family: "RobotoFlex";
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.service__price span {
    font-family: "RobotoFlex";
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.service__description {
    order: 2;
    color: #B3B3B2;
    font-family: "RobotoFlex";
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 20px;
}

.service__cta--link {
    display: flex;
    order: 3;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--color-orange);
    width: 100%;
    color: var(--background-dark);
    text-align: center;
    font-family: "RobotoFlex";
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.works {
    padding: 10px;
    border-radius: 14px;
    border: 2px solid var(--bg-color);
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.works__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    border-radius: 14px;
}

.section__title {
    font-family: "RobotoFlex";
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}

.works__link {
    display: none;
}

.works__grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work {
    padding: 10px;
    border-radius: 16px;
    border: 2px solid var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work__media {
    order: 1;
    height: 184px;
    width: 100%;
    border-radius: 14px;
    overflow: hidden;
}

.work__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__order-left {
    order: 2;
    padding: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work__order-right {
    display: none;
}

.work__order__cta {
    display: none;
}

.work__order--header {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.work__order--icon {
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #333;
    background: var(--bg-color);
    width: 52px;
    height: 52px;
}

.work__order__title {
    font-family: "RobotoFlex";
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.work__meta {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.work__meta li {
    display: flex;
    padding: 6px 10px;
    align-items: center;
    gap: 4px;
    border-radius: 45px;
    background: var(--bg-color);
}

.work__meta li strong {
    color: #B3B3B2;
    font-family: "RobotoFlex";
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    gap: 4px;
    align-items: center;
}

.work__meta li strong::after {
    content: "";
    background: url(../images/circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 4px;
    height: 4px;
    display: flex;
}

.work__meta li span,
.work__meta li time {
    color: #E6E6E6;
    font-family: "RobotoFlex";
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
}

.work__order-left--text {
    color: #B3B3B2;
    font-family: "RobotoFlex";
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.work__mobile-link {
    margin-left: 0;
    margin-right: auto;
}

.work__mobile-link span {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #333;
    background: var(--bg-color);
    padding: 10px;
    color: #B3B3B2;
    font-family: "RobotoMono";
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    gap: 8px;
}

.works__link-mob {
    padding: 20px 16px;
    border-radius: 12px;
}


















































.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--color-orange);
    border-radius: 10px;

    border: none;
    height: 44px;
    width: 80px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.theme-toggle .switch-text {
    font-size: 16px;
    color: #333;
}

.theme-toggle .switch {
    width: 34px;
    height: 34px;
    border-radius: 10px;
    background-color: var(--background-light);
    ;
    transform: translateX(-100%);
    transition: transform 0.5s, background-color 0.5s;
}

.theme-toggle.dark .switch {
    transform: translateX(0);
    background-color: var(--background-light-container);
    ;
}





.mobile-menu {
    width: 87px;
    display: flex;
    justify-content: flex-end;
}

.burger {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    padding: 10px;
    gap: 3px;
    background: var(--background-dark);
}

.burger-line {
    background-color: #fff;
    height: 2px;
    width: 18px;
    border-radius: 2px;
    transition: transform 0.5s, opacity 0.5s;
}

.burger-line:nth-last-of-type(1) {
    width: 10px;
    margin: 0 3px 0 auto;
}

.burger.open .burger-line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.burger.open .burger-line:nth-child(2) {
    opacity: 0;
}

.burger.open .burger-line:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
    width: 18px;
    margin: 0;
}

.mobile-links {
    list-style: none;
    position: absolute;
    display: flex;
    overflow: hidden;
    top: 72px;
    right: 0;
    background: var(--background-light-container);
    width: 100%;
    height: max-content;
    flex-direction: column;
    z-index: 9;
    max-height: 0;
    border-radius: 0 0 10px 10px;
    transition: max-height 0.5s;
}

.mobile-links.open {
    max-height: 500px;
}

.mobile-links ul {
    display: flex;
    margin-bottom: 32px;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.mobile-links ul a {
    color: #81807E;
    text-align: center;
    font-family: "RobotoMono", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.mobile-links ul li:nth-last-of-type(1) a {
    color: var(--color-orange);
}















.language-switcher {
    position: absolute;
    background: var(--background-light-container);
    top: 0;
    z-index: 1000;
    max-width: calc(100% - 32px);
    padding: 0 14px;
    border-radius: 0 0 10px 10px;
    height: 30px;
    overflow: hidden;
    left: 16px;
    right: 16px;
    width: 100%;
}

.language-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.language-option {
    color: #81807E;
    text-align: center;
    font-family: "RobotoMono", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.5s;
}

.language-option.active {
    color: var(--color-orange);
}


@media (max-width: 1280px) {

    .hero__stats-item:nth-last-of-type(1),
    .hero__stats-item:nth-last-of-type(2) {
        width: 100%;
        min-width: 100%;
    }

}




@media (min-width: 1280px) {
    body {
        font-size: 18px;
        gap: 50px;
        padding: 31px 50px;
    }

    .logo {
        width: 130px;
        height: 24px;
    }

    .container {
        border-radius: 20px;
    }

    main {
        gap: 120px;
    }

    .navbar {
        display: block;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .desktop-menu li {
        display: flex;
        padding: 18px 24px;
        align-items: center;
        border-radius: 12px;
        background: var(--background-dark);
    }

    .desktop-menu li a {
        color: #81807E;
        text-align: center;
        font-family: "RobotoMono", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;
        text-decoration: none;
    }

    .desktop-menu li:nth-last-of-type(1) {
        background: var(--color-orange);
    }

    .desktop-menu li:nth-last-of-type(1) a {
        color: var(--background-dark);
    }

    header.container {
        padding: 24px 24px 24px 50px;
        border-radius: 16px;
    }

    #switchTheme {
        height: 62px;
    }

    .hero__stats-item {
        width: calc(18% - 41px);
        min-height: 150px;
        justify-content: center;
        border-radius: 14px;
        gap: 20px;
    }

    .hero__stats {
        justify-content: space-between;
        padding: 20px;
        border-radius: 24px;
        gap: 20px;
    }

    .hero__stats-label {
        font-size: 18px;
        white-space: nowrap;
        gap: 10px;
    }

    .hero__stats-link span {
        width: 68px;
        height: 68px;
    }

    .hero__stats-link {
        font-size: 20px;
    }

    .hero__stats-value {
        font-size: 60px;
    }

    .hero__content {
        width: calc(100% - 593px - 16px);
        padding: 94px 20px 16px 20px;
        position: relative;
    }

    #hero-title {
        font-size: 78px;
        line-height: 160%;
        padding: 0 60px;
    }

    .hero__button span::before {
        width: 77px;
        height: 77px;
    }

    .hero__button span {
        width: 52px;
        height: 52px;
    }

    .hero__stats .hero__stats-item .hero__stats-value::after {
        font-size: 60px;
    }

    .hero__service {
        font-size: 20px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .hero__button {
        font-size: 24px;
        gap: 24px;
        margin-left: 60px;
    }

    .hero__description {
        max-width: 927px;
        margin-bottom: 70px;
        padding: 0 60px;
    }

    .hero__container {
        display: flex;
        gap: 16px;
    }

    .hero__services-wrapper {
        height: 100%;
        align-items: center;
    }

    .hero__service::before {
        left: -25px;
    }

    .hero__services-slider {
        width: 100%;
        height: 70px;
    }

    .hero__figure {
        width: 100%;
    }

    .hero__visual {
        display: flex;
        width: 593px;
        border-radius: 12px;
        position: relative;
        background: var(--bg-color);
    }

    .hero__image {
        width: 100%;
        height: calc(100% - 132px);
        object-fit: cover;
        border-radius: 12px 12px 0 0;
        object-position: -1px;
    }

    .hero__visual-link {
        position: absolute;
        width: 191px;
        height: 191px;
        top: -22px;
        right: -37px;
        border-radius: 200px;
        background: var(--background-dark);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero__visual-link span {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        width: 88px;
        height: 88px;
        border-radius: 100px;
        background: var(--color-orange);
    }

    .hero__visual-link span img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .hero__visual-link span::before {
        content: '';
        position: absolute;
        background: url(../images/Shape.svg);
        background-repeat: no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        width: 140px;
        height: 140px;
        transform: translate(-50%, -50%);
        animation: moveAround 10s linear infinite;
    }

    .hero__figcaption {
        display: flex;
        padding: 35px 30px 15px 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        color: #F9EFEC;
        font-family: "RobotoFlex";
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .hero__figcaption span {
        color: #B3B3B2;
        font-family: "RobotoFlex";
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        text-transform: capitalize;
    }

    .why-choose-us {
        padding: 20px;
        border-radius: 24px;
        gap: 20px;
        border: 2px solid var(--bg-color);
    }

    #why-title {
        padding: 45px 50px;
        border-radius: 16px;
        font-size: 48px;
    }

    .why-choose-us .card {
        padding: 40px;
        border-radius: 14px;
    }

    .why-choose-us .card__title {
        font-size: 30px;
        margin-bottom: 12px;
    }

    .why-choose-us .card__text {
        -webkit-line-clamp: 4;
        font-size: 18px;
        margin-bottom: 40px;
    }

    .why-choose-us .card:nth-of-type(2n) .card__text {
        -webkit-line-clamp: 4;
    }

    .why-choose-us .hero__stats-link span {
        width: 68px;
        height: 68px;
    }

    .why-choose-us .hero__stats-link {
        font-size: 18px;
        gap: 10px;
    }

    .services {
        border-radius: 24px;
        gap: 20px;
        padding: 20px;
    }

    #services-title {
        padding: 50px;
        border-radius: 16px;
        font-size: 48px;
    }

    .services__grid {
        gap: 20px;
    }

    .services__grid .service {
        padding: 80px;
        gap: 0;
        border-radius: 14px;
        width: calc(50% - 10px);
        flex: auto;
    }

    .service__header--box {
        margin-bottom: 0;
    }

    .service__header--icon {
        width: 66px;
        height: 66px;
    }

    .service__title {
        font-size: 30px;
    }

    .service__cta {
        display: flex;
        gap: 10px;
    }

    .service__cta span {
        width: 52px;
        height: 52px;
        border-radius: 100px;
        border: 1px solid #333;
        background: var(--bg-color);
    }

    .service__header {
        gap: 8px;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .service__header--icon img {
        width: 34px;
        height: 34px;
    }

    .service__price {
        order: 3;
        font-size: 30px;
        margin-left: auto;
    }

    .service__price span {
        font-size: 30px;
    }

    .service__cta--link {
        display: none;
    }

    .service__description {
        font-size: 18px;
        margin-bottom: 20px;
    }
}






@media (min-width: 576px) {
    .language-switcher {
        max-width: 476px;
        left: 50%;
        transform: translateX(-50%);
    }
}