/* --------------------------------
   Font Faces – Modern Formats Only
-------------------------------- */

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff');
}



:root {
    /* Цвета для светлой темы */
    --font-light: #0F0F0F;
    --background-light: #EEF4F8;
    --white-color: #ffffff;
    --border-light: #E0E0E0;
    --color-text: #333333;
    --gray-color: #D3D3D3;

    /* Цвета для темной темы */
    --font-dark: #F9EFEC;
    --font-dark-text: #D3D3D3;
    --background-dark: #0F0F0F;
    --background-light-container: #1A1A1A;


    --bg-color: #1F1F1F;
    --color-orange: #CE7D63;
}

* {
    box-sizing: border-box;
    outline: none;
    transition: all 0.5s;
}

a {
    color: inherit;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.heading-primary,
.heading-secondary {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: normal;
    transition: color 0.5s;
}

.heading-secondary {
    padding: 24px;
}

.paragraph {
    transition: color 0.5s;
}

.container {
    border-radius: 14px;
    transition: background 0.5s;
}

.wrapper {
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: "Gilroy", sans-serif;
    transition: background-color 0.5s, color 0.5s;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px 20px 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'ProximaNova', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}


body.dark-theme {
    background-color: var(--background-dark);
    color: var(--font-dark);
}

body.dark-theme .container {
    background: var(--background-light-container);
}

body.light-theme .container {
    background: var(--white-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.light-theme .hero__visual {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.light-theme .testimonial__footer {
    background: var(--color-orange);
}

body.light-theme .testimonial__author-name,
body.light-theme .testimonial__author-role {
    color: var(--white-color);
}

body.light-theme .language-option {
    color: #404040;
}

body.light-theme .desktop-menu li a {
    color: #404040;
}

body.light-theme .desktop-menu li.active {
    background: var(--color-orange);
}

body.light-theme .desktop-menu li.active a {
    color: var(--white-color);
}

body.light-theme .language-option.active {
    color: var(--color-orange);
}

body.dark-theme .paragraph,
body.light-theme .mobile-links ul a {
    color: var(--font-dark-text);
}

body.dark-theme .logo img {
    filter: brightness(0) saturate(100%) invert(90%) sepia(0%) saturate(7490%) hue-rotate(8deg) brightness(108%) contrast(108%);
}

body.light-theme .paragraph,
body.light-theme .service__cta--link {
    color: var(--white-color);
}

body.light-theme .faq__form-fields input {
    background: var(--background-light);
}

body.light-theme .faq__form-fields textarea {
    background: var(--background-light);
}

body.light-theme .social-card {
    border: 1px solid transparent;
        background: var(--white-color);
}

body.light-theme .faq__submit {
    color: var(--white-color);
}

body.light-theme .cta-banner__box h2 {
    color: var(--white-color);
}

body.light-theme .cta__btn {
    background: var(--background-light);
}

body.light-theme .cta__btn .cta__btn-text {
    color: var(--background-dark);
}

body.light-theme .cta__btn-icon {
    filter: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(3560%) hue-rotate(320deg) brightness(89%) contrast(88%);
}

body.light-theme .cta-services .hero__services-slider {
    background: var(--white-color) !important; 
}

body.light-theme .social-card__icon {
    background: var(--white-color);
    border: 1px solid transparent;
}

body.light-theme .works__link-text {
    background: var(--background-light);
    border: 1px solid var(--background-light);
}

body.light-theme .footer__nav-title {
    color: var(--color-orange);
}

body.light-theme .badge {
    background: var(--background-light);
    border: 1px solid var(--background-light);
    color: var(--background-dark);
}

body.light-theme .footer__newsletter-title  {
    color: var(--color-orange);
}

body.light-theme .footer__newsletter-btn {
    background: var(--background-light);
    border: 1px solid var(--background-light)
}

body.light-theme .faq__answer {
    border-top: 1px solid var(--border-light);
}

body.light-theme .faq__form-title {
    border-bottom: 1px solid var(--border-light);
}

body.light-theme .faq__label {
    color: var(--color-orange);
}

body.light-theme .social-card__title {
    color: var(--color-orange);
}

body.light-theme .cta__text {
    color: var(--white-color);
}

body.menu-open {
    overflow: hidden;
}

body.light-theme .border-light {
    border: 2px solid var(--border-light);
}

body.menu-open header {
    border-radius: 10px 10px 0 0;
}

body.light-theme .heading-primary,
body.light-theme .heading-secondary {
    color: var(--background-light-container) !important;
}

body.light-theme .hero__figure {
    background: var(--white-color);
    border-radius: 12px;
}

body.light-theme .paragraph {
    color: var(--color-text);
}

body.light-theme .faq__question::after {
    background-color: var(--background-light) !important;
    border: 1px solid var(--background-light);
}

body.light-theme .hero__visual-link span img,
body.light-theme .hero__button span img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(0%) hue-rotate(335deg) brightness(106%) contrast(106%);
}

body.light-theme .hero__stats-link span img {
    filter: brightness(0) saturate(100%) invert(64%) sepia(13%) saturate(1613%) hue-rotate(327deg) brightness(85%) contrast(87%);
}

body.light-theme,
body.light-theme .work__order--icon,
body.light-theme .work__meta li,
body.light-theme .theme-toggle,
body.light-theme .work__order-right--technologies ul li,
body.light-theme .burger,
body.light-theme .hero__visual-link,
body.light-theme .desktop-menu li,
body.light-theme .hero__services-slider {
    background: var(--background-light);
    border: none;
}

body.light-theme .hero__stats-link span,
body.light-theme .service__header--icon {
    background: var(--background-light);
    border: 1px solid var(--white-color);
}

body.light-theme .work__order--link {
    color: var(--white-color);
}


body.light-theme .hero__stats-link,
body.light-theme .hero__figcaption {
    color: var(--color-orange);
}

body.light-theme .theme-toggle .switch {
    background: var(--color-orange);
}

body.light-theme .work__media {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.light-theme .burger .burger-line {
    background: var(--color-text);
}

body.light-theme .mobile-links {
    background-color: var(--white-color);
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    max-height: 0;
    transition: max-height 0.5s;
}

.menu-overlay.active {
    max-height: 100vh;
}

body.menu-open {
    overflow: hidden;
}










header.container {
    display: flex;
    position: relative;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

body.menu-open header {
    transition: all 0.1s;
}

.navbar {
    display: none;
}

.logo {
    width: 116px;
    height: 32px;
}

.logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero__visual {
    display: none;
}

.hero__service {
    white-space: nowrap;
    color: #676665;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.hero__slide {
    max-width: max-content;
    padding: 0 20px;
}

.hero__service::before {
    content: "";
    background: url(../images/circle.svg) no-repeat;
    background-size: contain;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px 24px 16px 24px;
}

.hero__button {
    display: flex;
    align-items: center;
    gap: 9px;
    color: var(--color-orange);
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.hero__button span {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: var(--color-orange);
    position: relative;
}

.hero__button span::before {
    content: '';
    position: absolute;
    background: url(../images/Shape.svg) no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    width: 56px;
    height: 56px;
    transform: translate(-50%, -50%);
    animation: moveAround 10s linear infinite;
}

.hero__description {
    margin-bottom: 15px;
}

.hero__services-slider {
    border-radius: 8px;
    background: var(--background-dark);
    padding: 14px;
    position: relative;
    width: calc(100% + 10px);
    margin-left: -5px;
    overflow: hidden;
    height: 49px;
}

@keyframes moveAround {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.hero__stats {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 16px;
    border: 2px solid var(--bg-color);
}

.hero__stats-item {
    width: calc(50% - 5px);
    display: flex;
    padding: 16px 14px 5px 14px;
    flex-direction: column;
    align-items: center;
    min-height: 91px;
    background: var(--background-light-container);
}

.hero__stats-label {
    color: var(--gray-color);
    text-align: center;
    text-transform: uppercase;
}

.hero__stats-value {
    color: var(--color-orange);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.hero__stats-item:nth-of-type(1) .hero__stats-value::after {
    content: "+";
}

.hero__stats-item:nth-of-type(2) .hero__stats-value::after {
    content: "+";
}

.hero__stats-item:nth-of-type(3) .hero__stats-value::after {
    content: "%";
}

.hero__stats-item:nth-of-type(4) .hero__stats-value::after {
    content: "K";
}

.hero__stats-item:nth-of-type(5) .hero__stats-value::after {
    content: "+";
}

.hero__stats-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-color);
    text-transform: uppercase;
    gap: 10px;
}

.hero__stats-link span {
    display: flex;
    padding: 14px;
    width: 48px;
    height: 48px;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #262626;
    background: var(--background-dark);
}

.hero__stats-link span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}







/* Контейнер блока "Почему выбирают нас" */
.why-choose-us {
    padding: 8px;
    border-radius: 16px;
    border: 2px solid var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.why-choose-us .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}

.why-choose-us .card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    min-width: 268px;
    flex: 1;
    color: inherit;
}

.why-choose-us .card__title {
    margin-bottom: 8px;
    font-size: 20px;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.why-choose-us .card__text {
    margin-bottom: 24px;
    color: var(--gray-color);
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.why-choose-us .card:nth-of-type(2n) .card__text {
    -webkit-line-clamp: 3;
}

.why-choose-us .hero__stats-link {
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 400;
    gap: 8px;
    text-transform: capitalize;
}

.why-choose-us .hero__stats-link span {
    width: 52px;
    height: 52px;
}

/* Общие стили для блока */
.services {
    padding: 10px;
    border-radius: 16px;
    border: 2px solid var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.services__grid .service {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 14px;
    min-width: 264px;
    flex: 1;
}

.service__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__cta {
    display: none;
}

.service__header--box {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 20px;
}

.service__header--icon {
    display: flex;
    width: 52px;
    height: 52px;
    padding: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #333;
    background: var(--bg-color);
}

.service__title {
    font-size: 20px;
    text-transform: uppercase;
}

.service__price {
    order: 1;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.service__price span {
    font-size: 18px;
    text-transform: uppercase;
}

.service__description {
    order: 2;
    color: var(--gray-color);
    font-weight: 400;
    margin-bottom: 20px;
}

.service__cta--link {
    display: flex;
    order: 3;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--color-orange);
    width: 100%;
    color: var(--background-dark);
    text-align: center;
    text-transform: uppercase;
}

/* Общие стили для блока */
.works {
    padding: 10px;
    border-radius: 14px;
    border: 2px solid var(--bg-color);
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.works__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    border-radius: 14px;
}

.works__link {
    display: none;
}

.works__grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work {
    padding: 10px;
    border-radius: 16px;
    border: 2px solid var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work__media {
    order: 1;
    height: 184px;
    width: 100%;
    border-radius: 14px;
    overflow: hidden;
}

.work__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__order-left {
    order: 2;
    padding: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work__order-right,
.work__order__cta {
    display: none;
}

.work__order--header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.work__order--icon {
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #333;
    background: var(--bg-color);
    width: 52px;
    height: 52px;
}

.work__order__title {
    font-size: 16px;
    text-transform: uppercase;
}

.work__meta {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.work__meta li {
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 6px 10px;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    border-radius: 45px;
    background: var(--bg-color);
}

.work__meta li strong {
    color: var(--gray-color);
    font-size: 12px;
    font-weight: 400;
    display: flex;
    gap: 4px;
    align-items: center;
}

.work__meta li strong::after {
    content: "";
    background: url(../images/circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 4px;
    height: 4px;
    display: flex;
}

.work__meta li span,
.work__meta li time {
    color: #E6E6E6;
    font-size: 12px;
}

.work__order-left--text {
    color: var(--gray-color);
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.work__mobile-link {
    margin-left: 0;
    margin-right: auto;
}

.work__mobile-link span {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #333;
    background: var(--bg-color);
    padding: 10px;
    color:var(--gray-color);
    font-size: 16px;
    text-transform: uppercase;
    gap: 8px;
}

.works__link-mob {
    padding: 20px 16px;
    border-radius: 12px;
}

#works-title {
    padding: 0;
}


.testimonials {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 14px;
    border: 2px solid var(--bg-color);
}

.testimonials__header {
    width: 100%;
}

.testimonials__header .hero__stats-link {
    display: none;
}

.testimonials__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.testimonial {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-width: 256px;
}

.testimonial__header {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.testimonial__header h3 {
    font-size: 18px;
    text-transform: uppercase;
}

.testimonial__quote {
    color: var(--gray-color);
    font-weight: 400;
    line-height: 150%;
    text-transform: none;
}

.testimonial__footer {
    display: flex;
    padding: 16px 20px;
    align-items: center;
    background: var(--bg-color);
}

.testimonial__photo {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    object-fit: contain;
    margin-right: 8px;
    display: none;
}

.testimonial__author {
    display: flex;
    flex-direction: column;
}

.testimonial__author-name {
    font-size: 16px;
}

.testimonial__author-role {
    color: #81807E;
    font-weight: 400;
}

.testimonial__details {
    margin-left: auto;
}

.testimonial__details .works__link-text {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid #333;
    background: var(--bg-color);
    transform: rotate(45deg);
}

.testimonials .works__link-mob {
    width: 100%;
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.faq__question::-webkit-details-marker {
    display: none;
}

.faq__question::marker {
    content: none;
}

.faq__question::after {
    content: '';
    background-image: url(../images/faq-icon1.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 40px;
    box-sizing: border-box;
    max-width: 40px;
    min-width: 40px;
    padding: 10px;
    height: 40px;
    display: flex;
    border-radius: 100px;
    border: 1px solid #333;
    background-color: var(--bg-color);
}

.faq__item {
    border-radius: 14px;
    border: 1px solid var(--bg-color);
    background: var(--background-light-container);
    display: flex;
    flex-direction: column;
    padding: 24px 30px;
}

.faq__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
}

.faq__answer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #262626;
    color: var(--gray-color);
    font-weight: 400;
    line-height: 150%;
    width: 100%;
    min-width: 100%;
}

.faq__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

details[open] .faq__question::after {
    content: '';
    background-image: url(../images/faq-icon2.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.faq__form {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.faq__form-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 1px solid #262626;
    margin-bottom: 20px;
    width: 100%;
}

.faq__form-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.faq__label {
    color: #F3DFD8;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.faq__form-fields input {
    display: flex;
    padding: 16px;
    align-items: center;
    font-family: "Gilroy", sans-serif;
    border-radius: 8px;
    background: var(--font-light);
    border: none;
    color: #676665;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 14px;
}

.faq__form-fields input::placeholder {
    color: #676665;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    font-family: "Gilroy", sans-serif;
}

.faq__form-fields textarea {
    display: flex;
    min-height: 101px;
    font-family: "Gilroy", sans-serif;
    padding: 16px;
    align-items: center;
    border-radius: 8px;
    background: var(--font-light);
    border: none;
    color: #676665;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 20px;
    resize: none;
}

.faq__form-fields textarea {
    color: #676665;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    font-family: "Gilroy", sans-serif;
}

.faq__submit {
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: var(--color-orange);
    border: none;
    color: var(--font-light);
    text-align: center;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.cta {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cta-banner {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 14px;
    background: var(--color-orange);
}

.cta-banner__box h2 {
    color: var(--font-light);
    font-size: 28px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.cta__text {
    color: #262626;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 16px;
}

.cta__btn {
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--font-light);
    width: 100%;
    max-width: 297px;
    margin: 0 auto;
}

.cta__btn span {
    color: #F3DFD8;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.cta__btn img {
    filter: brightness(0) saturate(100%) invert(81%) sepia(25%) saturate(318%) hue-rotate(326deg) brightness(93%) contrast(94%);
}

.cta-services .hero__services-slider {
    border-radius: 8px;
    background: var(--background-light-container);
    width: 100%;
    margin: 0;
}

.cta {
    gap: 20px;
}

.footer__grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__socials {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.social-card__info {
    display: none;
}

.social-card {
    display: flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 10px;
    border: 1px solid #333;
    background: #1F1F1F;
    text-decoration: none;
}

.social-card__header .works__link-text {
    display: none;
}

.footer__nav {
    display: flex;
    padding: 24px;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    border-radius: 14px;
    background: #1A1A1A;
}

.footer__nav-section {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.footer__nav-title {
    color: #F3DFD8;
    font-size: 18px;
    font-weight: 700;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.footer__nav-list li a {
    color: #81807E;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.footer__nav-list li a span {
    display: flex;
    padding: 4px 10px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #333;
    background: #262626;
    color: #CCC;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.36px;
}

.footer__newsletter {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
    border-radius: 14px;
    background: #1A1A1A;
}

.footer__newsletter-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer__newsletter-box span {
    color: #676665;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
}

.footer__newsletter-title {
    color: #F9EFEC;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.footer__newsletter-form {
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 8px;
}

.footer__newsletter-btn {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #333;
    background: #1F1F1F;
}

.footer__newsletter-btn img {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(83%) sepia(10%) saturate(783%) hue-rotate(326deg) brightness(97%) contrast(86%);
}

.footer__newsletter-input {
    width: calc(100% - 48px);
    padding: 14px 16px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #333;
    color: #676665;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    border-radius: 0;
}

.footer__newsletter-input::placeholder {
    color: #676665;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.footer__bottom {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer__copyright {
    color: var(--gray-color);
    text-align: center;
    font-weight: 400;
    line-height: 150%;
}

.footer__links {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer__links li {
    padding-bottom: 20px;
    border-bottom: 1px solid #232329;
    width: 100%;
    text-align: center;
}

.footer__links li:nth-last-of-type(1) {
    padding-top: 20px;
    padding-bottom: 0;
    border-bottom: 0;
}

.footer__grid-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}







































.theme-switcher {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80px;
    height: 32px;
    border-radius: 30px;
    border: 1px solid var(--color-orange);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#switchTheme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 32px;
    height: 32px;
    background: url(../images/moon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.3rem;
    border: none;
    transition: transform 500ms, left 500ms;
}

.dark-theme .theme-switcher #switchTheme {
    transform: rotate(360deg);
    background: url(../images/sun.svg);
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    background-repeat: no-repeat;
    background-size: contain;
    left: calc(100% - 2.3rem);
    color: var(--background-light);
}




.mobile-menu {
    width: 87px;
    display: flex;
    justify-content: flex-end;
}

.burger {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    padding: 10px;
    gap: 3px;
    background: var(--background-dark);
}

.burger-line {
    background-color: #fff;
    height: 2px;
    width: 18px;
    border-radius: 2px;
    transition: transform 0.5s, opacity 0.5s;
}

.burger-line:nth-last-of-type(1) {
    width: 10px;
    margin: 0 3px 0 auto;
}

.burger.open .burger-line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.burger.open .burger-line:nth-child(2) {
    opacity: 0;
}

.burger.open .burger-line:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
    width: 18px;
    margin: 0;
}

.mobile-links {
    list-style: none;
    position: absolute;
    display: flex;
    overflow: hidden;
    top: 72px;
    right: 0;
    background: var(--background-light-container);
    width: 100%;
    height: max-content;
    flex-direction: column;
    z-index: 9;
    max-height: 0;
    border-radius: 0 0 10px 10px;
    transition: max-height 0.5s;
}

.mobile-links.open {
    max-height: 500px;
}

.mobile-links ul {
    display: flex;
    margin: 32px 0;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.mobile-links ul a {
    color: #81807E;
    text-align: center;
    text-transform: uppercase;
}

.mobile-links ul li:nth-last-of-type(1) a {
    color: var(--color-orange);
}

.hero__stats-link {
    transition: color 0.4s ease-in-out;
}

.hero__stats-link img {
    transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}


.hero__stats-link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #CE7D63;
    transition: width 0.3s ease, height 0.3s ease, top 0.3s ease, left 0.3s ease;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.hero__stats-link:hover::before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}

.hero__stats-link:hover {
    color: #fff;
}

.hero__stats-link:hover img {
    transform: rotate(360deg) scale(1.3);
    filter: drop-shadow(0 0 10px rgba(206, 125, 99, 0.8));
}

.hero__stats-link span {
    position: relative;
    overflow: hidden;
    z-index: 1;
}















.language-switcher.container {
    background: var(--background-light-container);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 16px 14px;
    max-width: 1820px;
    margin: 0 auto;
    border-radius: 0 0 14px 14px;
    width: 100%;
}

.language-toggle {
    display: flex;
    gap: 32px;
    align-items: center;
    background: transparent;
    border: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.language-option {
    color: #D3D3D3;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.5s;
}

.language-option.active {
    color: var(--color-orange);
}


@media (max-width: 1280px) {

    .hero__stats-item:nth-last-of-type(1),
    .hero__stats-item:nth-last-of-type(2) {
        width: 100%;
        min-width: 100%;
    }

}




@media (min-width: 1280px) {
    body {
        font-size: 18px;
        gap: 50px;
        padding: 0 50px 31px 50px;
    }

    .heading-secondary {
        padding: 50px;
        font-size: 48px;
    }

    .logo {
        width: 200px;
        height: 45px;
    }

    .container {
        border-radius: 16px;
    }

    main {
        gap: 120px;
    }

    .navbar {
        display: block;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .desktop-menu li {
        display: flex;
        padding: 18px 24px;
        align-items: center;
        border-radius: 12px;
        background: var(--background-dark);
    }

    .desktop-menu li a {
        color: #D3D3D3;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
    }

    .desktop-menu li:nth-last-of-type(1) {
        background: var(--color-orange);
    }

    .desktop-menu li:nth-last-of-type(1) a {
        color: var(--background-dark);
    }

    header.container {
        padding: 24px;
        border-radius: 16px;
    }


    .hero__stats-item {
        width: calc(18% - 41px);
        min-height: 150px;
        min-width: 256px;
        justify-content: center;
        border-radius: 14px;
        gap: 20px;
        flex: 1;
    }

    .hero__stats {
        justify-content: space-between;
        padding: 20px;
        flex-wrap: wrap;
        border-radius: 24px;
        gap: 20px;
    }

    .hero__stats-label {
        font-size: 18px;
        white-space: nowrap;
        gap: 10px;
    }

    .hero__stats-link span {
        width: 68px;
        min-width: 52px;
        height: 68px;
    }

    .hero__stats-link {
        font-size: 20px;
    }

    .hero__stats-value {
        font-size: 60px;
    }

    .hero__content {
        width: calc(100% - 593px - 16px);
        padding: 94px 20px 16px 20px;
        position: relative;
    }

    #hero-title {
        font-size: 78px;
        line-height: 130%;
    }

    .hero__button span::before {
        width: 77px;
        height: 77px;
    }

    .hero__button span {
        width: 52px;
        height: 52px;
    }

    .hero__stats .hero__stats-item .hero__stats-value::after {
        font-size: 60px;
    }

    .hero__service {
        font-size: 20px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .hero__button {
        font-size: 24px;
        gap: 24px;
    }

    .hero__description {
        max-width: 927px;
        margin-bottom: 70px;
    }

    .hero__container {
        display: flex;
        gap: 16px;
    }

    .hero__services-wrapper {
        height: 100%;
        align-items: center;
    }

    .hero__service::before {
        left: -25px;
    }

    .hero__services-slider {
        width: 100%;
        height: 70px;
    }

    .hero__figure {
        width: 100%;
    }

    .hero__visual {
        display: flex;
        width: 593px;
        border-radius: 12px;
        position: relative;
        background: var(--bg-color);
    }

    .hero__image {
        width: 100%;
        height: calc(100% - 132px);
        object-fit: cover;
        border-radius: 12px 12px 0 0;
        object-position: -1px;
    }

    .hero__visual-link {
        position: absolute;
        width: 191px;
        height: 191px;
        top: -22px;
        right: -37px;
        border-radius: 200px;
        background: var(--background-dark);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero__visual-link span {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        width: 88px;
        height: 88px;
        border-radius: 100px;
        background: var(--color-orange);
    }

    .hero__visual-link span img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .hero__visual-link span::before {
        content: '';
        position: absolute;
        background: url(../images/Shape.svg);
        background-repeat: no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        width: 140px;
        height: 140px;
        transform: translate(-50%, -50%);
        animation: moveAround 10s linear infinite;
    }

    .hero__figcaption {
        display: flex;
        padding: 35px 30px 15px 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        color: #F9EFEC;
        font-size: 24px;
        text-transform: uppercase;
    }

    .hero__figcaption span {
        color: var(--gray-color);
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;
    }

    .why-choose-us {
        padding: 20px;
        border-radius: 24px;
        gap: 20px;
        border: 2px solid var(--bg-color);
    }

    .why-choose-us .card {
        border-radius: 14px;
    }

    .why-choose-us .card__title {
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 12px;
    }

    .why-choose-us .card__text {
        -webkit-line-clamp: 4;
        font-size: 18px;
        margin-bottom: 40px;
    }

    .why-choose-us .card:nth-of-type(2n) .card__text {
        -webkit-line-clamp: 4;
    }

    .why-choose-us .hero__stats-link span {
        width: 68px;
        height: 68px;
    }

    .why-choose-us .hero__stats-link {
        font-size: 18px;
        gap: 10px;
    }

    .services {
        border-radius: 24px;
        gap: 20px;
        padding: 20px;
    }

    .services__grid {
        gap: 20px;
    }

    .services__grid .service {
        padding: 60px 40px;
        gap: 0;
        border-radius: 14px;
        width: calc(50% - 10px);
        flex: auto;
    }

    .service__header--box {
        margin-bottom: 0;
    }

    .service__header--icon {
        width: 66px;
        height: 66px;
    }

    .service__title {
        font-size: 24px;
    }

    .service__cta {
        display: flex;
        gap: 10px;
    }

    .service__cta span {
        width: 52px;
        height: 52px;
        max-width: 52px;
        min-height: 52px;
        border-radius: 100px;
        border: 1px solid #333;
        background: var(--bg-color);
    }

    .service__header {
        gap: 8px;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .service__header--icon img {
        width: 34px;
        height: 34px;
    }

    .service__price {
        order: 3;
        font-size: 30px;
        margin-left: auto;
    }

    .service__price span {
        font-size: 30px;
    }

    .service__cta--link {
        display: none;
    }

    .service__description {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .works {
        gap: 20px;
        border: none;
        padding: 0;
    }

    .works__header {
        padding: 50px;
        border-radius: 16px;
    }

    #works-title {
        padding: 0;
    }

    .works__link {
        display: flex;
        gap: 10px;
    }

    .works__link .works__link-text {
        border: 1px solid #262626;
        width: 68px;
        height: 68px;
        background: var(--background-light-container);
    }

    .work {
        padding: 20px;
        border-radius: 20px;
        border: 2px solid var(--bg-color);
        flex-direction: row;
        gap: 20px;
    }

    .work__order-left {
        order: 1;
        max-width: calc(33.33% - 10px);
        flex: 1;
        padding: 60px 40px;
        gap: 40px;
        border-radius: 14px;
    }

    .work__order--header {
        gap: 14px;
    }

    .work__order--icon {
        padding: 16px;
        width: 66px;
        height: 66px;
        border-radius: 12px;
    }

    .work__order--icon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .work__order__title {
        font-size: 24px;
    }

    .work__order__cta {
        display: flex;
        gap: 10px;
    }

    .work__order__cta span {
        width: 52px;
        height: 52px;
        padding: 14px;
        border-radius: 100px;
        border: 1px solid #333;
        background: var(--bg-color);
    }

    .work__media {
        height: auto;
        max-width: calc(33.33% - 10px);
        flex: 1;
        order: 2;
    }

    .work__order--box {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        align-items: center;
        justify-content: space-between;
    }

    .work__meta {
        gap: 12px;
    }

    .work__meta li {
        width: max-content;
        padding: 10px 16px;
        gap: 8px;
    }

    .work__order-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: calc(33.33% - 10px);
        flex: 1;
        order: 3;
    }

    .work__meta li strong {
        font-size: 18px;
        gap: 8px;
    }

    .work__meta li span,
    .work__meta li time {
        font-size: 18px;
    }

    .work__order-left--text {
        font-size: 18px;
    }

    .work__mobile-link {
        display: none;
    }

    .work__order-right--technologies {
        display: flex;
        padding: 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        border-radius: 14px;
    }

    .work__order-right--technologies h3 {
        color: #FFF;
        font-size: 18px;
        text-transform: uppercase;
    }

    .work__order-right--technologies ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .work__order-right--technologies ul li {
        display: flex;
        padding: 10px 16px;
        align-items: center;
        border-radius: 45px;
        background: var(--bg-color);
        color: #E6E6E6;
        font-size: 16px;
        font-weight: 400;
    }

    .work__order-right--team {
        display: flex;
        padding: 20px 40px;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        border-radius: 14px;
    }

    .work__order-right--team h3 {
        color: #FFF;
        font-size: 18px;
        text-transform: uppercase;
    }

    .work__order-right--team ul {
        display: flex;
        gap: 10px;
    }

    .work__order--link {
        display: flex;
        padding: 18px 24px;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 12px;
        background: var(--color-orange);
        color: var(--font-light);
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
    }

    .works__grid {
        gap: 20px;
    }

    .works__link-mob {
        display: none;
    }

    .works.border-light {
        border: none !important;
    }

    .testimonials__header .hero__stats-link {
        display: flex;
    }

    .testimonials__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 50px;
    }

    .testimonials {
        padding: 20px;
        gap: 20px;
        border-radius: 24px;
    }

    .testimonials__grid {
        width: 100%;
        flex-wrap: wrap;
        align-items: stretch;
        flex-direction: row;
        gap: 20px;
    }

    .testimonial {
        min-width: 388px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .testimonial__header {
        padding: 40px;
        gap: 24px;
    }

    .testimonial__header h3 {
        font-size: 24px;
    }

    .testimonial__quote {
        font-size: 18px;
    }

    .testimonial__footer {
        padding: 30px 40px;
    }

    .testimonial__photo {
        width: 60px;
        height: 60px;
        min-width: 60px;
        margin-right: 15px;
    }

    .testimonial__author-name {
        font-size: 20px;
    }

    .testimonial__author-role {
        font-size: 18px;
    }

    .testimonial__details .works__link-text {
        width: 52px;
        height: 52px;
        padding: 14px;
    }

    .faq__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 50px;
    }

    .faq__header .section__title {
        padding-right: 0;
    }

    .faq__box {
        flex-direction: row;
        gap: 20px;
    }

    .faq {
        gap: 20px;
    }

    .faq__form {
        min-width: 746px;
        position: sticky;
        top: 0;
        width: 100%;
        padding: 60px;
        justify-content: flex-start;
        height: max-content;
    }

    .faq__form-title {
        font-size: 24px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .faq__label {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .faq__form-fields input {
        padding: 24px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .faq__form-fields input::placeholder {
        font-size: 18px;
    }

    .faq__form-fields textarea {
        padding: 24px;
        font-size: 18px;
        min-height: 172px;
        margin-bottom: 50px;
    }

    .faq__form-fields textarea::placeholder {
        font-size: 18px;
    }

    .faq__submit {
        padding: 18px 24px;
        font-size: 18px;
    }

    .faq__list {
        gap: 20px;
    }

    .faq__item {
        padding: 60px;
        font-size: 22px;
    }

    .faq__answer {
        padding-top: 30px;
        margin-top: 30px;
        font-size: 18px;
    }

    .faq__question {
        font-size: 22px;
    }

    .cta-banner {
        padding: 80px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 32px;
        border-radius: 20px;
    }

    .cta-banner__box h2 {
        font-size: 58px;
    }

    .cta__text {
        margin-bottom: 0;
        font-size: 18px;
    }

    .cta__btn {
        padding: 18px 34px;
        max-width: max-content;
    }

    .cta__btn span {
        font-size: 18px;
    }

    .footer__grid {
        flex-direction: row;
    }

    .footer__socials {
        width: 748px;
        min-width: 748px;
    }

    .footer__grid-box {
        flex: 1;
        gap: 20px;
        justify-content: space-between;
    }

    .footer__socials {
        flex-wrap: wrap;
        gap: 20px;
    }

    .social-card {
        width: calc(50% - 10px);
        flex: auto;
        flex-direction: column;
        justify-content: space-between;
        gap: 80px;
        padding: 40px;
        border: none;
    }

    .social-card__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .social-card__icon {
        display: flex;
        padding: 16px;
        align-items: center;
        justify-content: center;
        width: 66px;
        height: 66px;
        border-radius: 12px;
        border: 1px solid #333;
        background: #1F1F1F;
    }

    .social-card__header .works__link-text {
        display: flex;
        padding: 14px;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        border-radius: 100px;
        border: 1px solid #333;
        background: #1F1F1F;
    }

    .social-card__header .works__link-text img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .social-card__info {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .social-card__title {
        color: #F9EFEC;
        font-size: 30px;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;
    }

    .social-card__text {
        color: var(--gray-color);
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }

    .footer__nav {
        display: flex;
        padding: 60px;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;
    }

    .footer__nav-section {
        width: calc(25% - 24px);
        min-width: 150px;
        gap: 30px;
    }

    .footer__grid {
        gap: 20px;
    }

    .footer__nav-title {
        font-size: 22px;
    }

    .footer__nav-list li a {
        font-size: 18px;
    }

    .footer__nav-list {
        gap: 18px;
    }

    .footer__nav-list li a span {
        padding: 4px 12px;
        font-size: 16px;
        letter-spacing: -0.48px;
    }

    .footer__newsletter {
        padding: 50px;
        flex-direction: row;
        align-items: flex-end;
        gap: 20px;
    }

    .footer__newsletter-box {
        gap: 10px;
        flex: 1 0 0;
    }

    .footer__newsletter-form {
        width: 40%;
        gap: 20px;
    }

    .footer__newsletter-box span {
        font-size: 18px;
    }

    .footer__newsletter-title {
        font-size: 30px;
    }

    .footer__newsletter-btn {
        width: 52px;
        height: 52px;
        padding: 14px;
    }

    .footer__newsletter-input {
        width: calc(100% - 72px);
        padding: 18px 20px;
        font-size: 18px;
    }

    .footer__newsletter-input::placeholder {
        font-size: 18px;
    }

    .footer__bottom {
        padding: 50px;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__copyright {
        font-size: 18px;
    }

    .footer__links {
        width: auto;
        flex-direction: row;
        gap: 22px;
    }

    .footer__links li {
        padding: 0;
        border-bottom: 0;
    }

    .footer__link {
        font-size: 18px;
        white-space: nowrap;
    }

    .footer__links li:nth-last-of-type(1) {
        padding: 0;
    }

    .faq__question::after {
        width: 52px;
        min-width: 52px;
        height: 52px;
        background-size: 75%;
    }
}